# Numeric

## Integer

In [1]:
a = 1

In [2]:
b = 2

In [3]:
type(a)

int

In [4]:
type(b)

int

## float

In [5]:
c = 0.5

In [6]:
d = 3/4

In [7]:
type(c)

float

In [8]:
type(d)

float

## Boolean

In [9]:
t = True

In [10]:
f = False

In [11]:
type(t)

bool

In [12]:
type(f)

bool

## Complex Number

In [13]:
z = 1+2j

In [14]:
z.real

1.0

In [15]:
z.imag

2.0

In [16]:
type(z)

complex

# String

## Create String

In [17]:
char1 = 'Hello World'

In [18]:
char2 = '0123456789'

In [19]:
type(char1)

str

In [20]:
type(char2)

str

## Read String

### อ่านทีละตัว

In [21]:
char3 = '0123456789'

In [22]:
char3[0]

'0'

In [23]:
char3[5]

'5'

In [24]:
char3[-1]

'9'

In [25]:
char3[-2]

'8'

### อ่านทีละชุดที่เลือก

In [26]:
char3 = '0123456789'

In [27]:
char3[3:]

'3456789'

In [28]:
char3[:7]

'0123456'

In [29]:
char3[3:7]

'3456'

### การแทนที่อักขระ

In [30]:
char4 = 'abc'

In [31]:
char4.replace('a', 'A')

'Abc'

In [32]:
char4 = 'abc'

In [33]:
char4.replace('bc','DE')

'aDE'

### นับจำนวนอักขระ

In [34]:
char5 = '12345'

In [35]:
len(char5)

5

In [36]:
char5[:3]

'123'

### ตรวจสอบว่ามีตัวหนังสือในอักขระ

In [37]:
char6 = 'Python'

In [38]:
'P' in char6

True

In [39]:
'p' in char6

False

In [40]:
'thon' in char6

True

In [41]:
'PYthon' in char6

False

### การตัดคำ

In [42]:
char7 = 'one-two-three'

In [43]:
char7.split('-')

['one', 'two', 'three']

In [44]:
char8 = 'I love coding'

In [45]:
char8.split(' ')

['I', 'love', 'coding']

In [46]:
len(char8)

13

In [47]:
char8[2:13]

'love coding'

### การต่ออักขระ

In [48]:
char9 = 'ab'
char10 = 'cd'

In [49]:
char9+char10

'abcd'

In [50]:
char11 = 'A'
char12 = 'B'
char13 = 'C'

In [51]:
char11+char12+char13

'ABC'

# Composite Data Structure

## List

### Create List

In [52]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d']
list3 = [1,2,3,'a','b','c']

In [53]:
type(list1)

list

In [54]:
type(list2)

list

In [55]:
type(list3)

list

### Read List

In [56]:
list4 = [1,2,3,'a','b','c']

In [57]:
list4[0]

1

In [58]:
list4[-1]

'c'

In [59]:
list4[-2]

'b'

### Update List มี 4 แบบ

#### Replace

In [60]:
list6 = [1,2,3,'a','b','c']

In [61]:
list6[0] = 0

In [62]:
list6

[0, 2, 3, 'a', 'b', 'c']

In [63]:
list6[-1] = 'x'

In [64]:
list6

[0, 2, 3, 'a', 'b', 'x']

#### append การเอาสมาชิกใหม่ไปต่อท้าย

In [65]:
list7 = [1,2,3,'a','b','c']

In [66]:
list7.append('d')

In [67]:
list7

[1, 2, 3, 'a', 'b', 'c', 'd']

In [68]:
list7.append('e')

In [69]:
list7

[1, 2, 3, 'a', 'b', 'c', 'd', 'e']

#### extend เอา list 2 ตัวมาต่อกัน

In [70]:
list8 = [1,2,3]
list9 = ['a','b','c']

In [71]:
list8.extend(list9)

In [72]:
list8

[1, 2, 3, 'a', 'b', 'c']

#### insert การแทรก

In [73]:
list10 = [1,2,3,'a','b','c']

In [74]:
list10.insert(1,'one')

In [75]:
list10

[1, 'one', 2, 3, 'a', 'b', 'c']

### Delete List [อยากลบตัวไหนใส่ index นั้นลงไป]

In [76]:
list11 = [1,2,3,'a','b','c']

In [77]:
del list11[2]

In [78]:
list11

[1, 2, 'a', 'b', 'c']

In [79]:
list11 = [1,2,3,'a','b','c']

In [80]:
del list11[-2]

In [81]:
list11

[1, 2, 3, 'a', 'c']

#### Remove ลบโดยบอกค่าที่ต้องการออก

In [82]:
list12 = [1,2,3,'a','b','c']

In [83]:
list12.remove(1)

In [84]:
list12

[2, 3, 'a', 'b', 'c']

In [85]:
list12.remove('a')

In [86]:
list12

[2, 3, 'b', 'c']

#### Clear [ลบสมาชิกทั้งหมดทิ้ง]

In [87]:
list13 = [1,2,3,'a','b','c']

In [88]:
list13.clear()

In [89]:
list13

[]

### List + Sort

In [90]:
list14 = [1,5,4,2,3]

In [91]:
list14.sort()

In [92]:
list14

[1, 2, 3, 4, 5]

In [93]:
list14.sort(reverse=True)

In [94]:
list14

[5, 4, 3, 2, 1]

In [95]:
list14 = [1,5,4,2,3]

In [96]:
sorted_list14 = sorted(list14)

In [97]:
sorted_list14

[1, 2, 3, 4, 5]

In [98]:
sorted_list14 = sorted(list14, reverse=True)

In [99]:
sorted_list14

[5, 4, 3, 2, 1]

### List + Len [นับจำนวนสมาชิก]

In [100]:
list15 = [1,2,3,'1','b','c']

In [101]:
len(list15)

6

In [102]:
list16 = ['a','b','c','d','e']

In [103]:
len(list16)

5

### List + in [ตรวจสอบ สมาชิกอยู่ใน List หรือเปล่า]

In [104]:
list17 = [1,2,3,'1','b','c']

In [105]:
'b' in list17

True

In [106]:
4 in list17

False

## Tuple ไม่สามารถแก้ไขอะไรได้ สร้างแล้วสร้างเลย

CR + len +in

ข้อดี คือ เร็วกว่า List

### Create Tuple

In [107]:
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c','d')
tuple3 = (1,2,3,'a','b','c')

In [108]:
type(tuple1)

tuple

In [109]:
type(tuple2)

tuple

In [110]:
type(tuple3)

tuple

### Read Tuple

In [111]:
tuple4 = (1,2,3,'a','b','c')

In [112]:
tuple4[0]

1

In [113]:
tuple4[-1]

'c'

In [114]:
tuple4[-2]

'b'

### Tuple + len

In [115]:
tuple6 =(1,2,3,'a','b','c')

In [116]:
len(tuple6)

6

In [117]:
tuple7 = ('a','b','c','d','e')

In [118]:
len(tuple7)

5

### Tuple + in

In [119]:
tuple8 = (1,2,3,'a','b','c')

In [120]:
'b' in tuple8

True

In [121]:
4 in tuple8

False

## Dictionary [เก็บเป็น Key:value based]

CRUD + len +in

### Create Dictionary

In [122]:
dict1 = {'firstname':'john','lastname':'Doe', 'age':32}
dict2 = {'fukkename':'John Doe', 'hobby':['coding','study']}

In [123]:
type(dict1)

dict

In [124]:
type(dict2)

dict

### Read Dictionary

In [125]:
dict3 = {'firstname':'john','lastname':'Doe', 'age':32}

In [126]:
dict3['firstname']

'john'

In [127]:
dict3['age']

32

### Update Dictionary

In [128]:
dict4 = {'firstname':'john','lastname':'Doe', 'age':32}

In [129]:
dict4['firstname'] = 'Mario'

In [130]:
dict4

{'firstname': 'Mario', 'lastname': 'Doe', 'age': 32}

#### Add

In [131]:
dict5 = {'firstname':'john','lastname':'Doe', 'age':32}

In [132]:
dict5['blood_group'] = 'o'

In [133]:
dict5

{'firstname': 'john', 'lastname': 'Doe', 'age': 32, 'blood_group': 'o'}

#### Update

In [134]:
dict6 = {'firstname':'john','lastname':'Doe', 'age':32}

In [135]:
dict6.update({'blood_group':'O','height':180})

In [136]:
dict6

{'firstname': 'john',
 'lastname': 'Doe',
 'age': 32,
 'blood_group': 'O',
 'height': 180}

### Delete Dictionary

In [137]:
dict7 = {'firstname':'john','lastname':'Doe', 'age':32}

In [138]:
del dict7['lastname']

In [139]:
dict7

{'firstname': 'john', 'age': 32}

#### Clear

In [140]:
dict8 = {'firstname':'john','lastname':'Doe', 'age':32}

In [141]:
dict8.clear()

In [142]:
dict8

{}

### Dictionary + len

In [143]:
dict9 = {'firstname':'john','lastname':'Doe', 'age':32}

In [144]:
len(dict9)

3

In [145]:
len(dict9.keys())

3

In [146]:
len(dict9.values())

3

### Dictionary + in

In [147]:
dict10 = {'firstname':'john','lastname':'Doe', 'age':32}

In [148]:
'firstname' in dict10

True

In [149]:
'firstname' in dict10.keys()

True

In [150]:
'john' in dict10.values()

True

## Set [ไม่อ้างอิง index และ key]

Union, Intersec, difference, symmetric difference

CRUD + len + in

### Union

### Intersection

### Difference

### Symmetric Difference

## Set

#### Create Set

In [151]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,'a','b','c'}

In [152]:
type(set1)

set

In [153]:
type(set2)

set

### Read Set เพราะไม่มี index ไม่มี key วิธีการอ่านต้อง for loop อย่างเดียว และ ไม่เรียงลำดับ

In [154]:
set3 = {'a','b','c','d','e'}

In [155]:
for x in set3:
    print(x)

d
e
c
b
a

### Update Set : add

In [156]:
set4 = {'a','b','c','d','e'}

In [157]:
set4.add(1)

In [158]:
set4

{1, 'a', 'b', 'c', 'd', 'e'}

### Update Set : update

In [159]:
set5 = {'a','b','c','d','e'}

In [160]:
set5.update({1,2})

In [161]:
set5

{1, 2, 'a', 'b', 'c', 'd', 'e'}

### Delete Set : remove

In [162]:
set6 = {'a','b','c','d','e'}

In [163]:
set6.remove('a')

In [164]:
set6

{'b', 'c', 'd', 'e'}

In [165]:
set6.remove('c')

In [166]:
set6

{'b', 'd', 'e'}

### Delete Set : clear

In [167]:
set7 = {'a','b','c','d','e'}

In [168]:
set7.clear()

In [169]:
set7

set()

### Set + len

In [170]:
set8 = {1,2,3,4,5}

In [171]:
len(set8)

5

### Set + in

In [172]:
set9 = {1,2,3,4,5}

In [173]:
1 in set9

True

In [174]:
'a' in set9

False

### Set + Union สมาชิกทั้งหมด ที่ setA และ setB มี

In [175]:
setA = {1,2,3,4,5}
setB = {3,4,5,6,7}

In [176]:
setA | setB

{1, 2, 3, 4, 5, 6, 7}

### Set + Intersection สมาชิกที่ซ้ำในทั้ง setA และ setB

In [177]:
setA = {1,2,3,4,5}
setB = {3,4,5,6,7}

In [178]:
setA & setB

{3, 4, 5}

### Set + Difference สมาชิกที่มีใน A แต่ไม่มีใน B และ สมาชิกที่มีใน B แต่ไม่มีใน A

In [179]:
setA = {1,2,3,4,5}
setB = {3,4,5,6,7}

In [180]:
setA - setB

{1, 2}

In [181]:
setB-setA

{6, 7}

### Symmetric Difference เอา setA ไป union กับ setB และ ลบส่วนที่ซ้ำกันออกไป

In [182]:
setA = {1,2,3,4,5}
setB = {3,4,5,6,7}

In [183]:
setA ^ setB

{1, 2, 6, 7}

# แบบฝึกหัด

### Numeric

In [184]:
numeric1 = 5
print('numeric1 =',numeric1)
print('ชนิดของข้อมูล =',type(numeric1))

numeric1 = 5
ชนิดของข้อมูล = <class 'int'>

In [185]:
numeric2 = -3
print('numeric2 =',numeric2)
print('ชนิดของข้อมูล =',type(numeric2))

numeric2 = -3
ชนิดของข้อมูล = <class 'int'>

In [186]:
numeric3 = 0
print('numeric3 =',numeric3)
print('ชนิดของข้อมูล =',type(numeric3))

numeric3 = 0
ชนิดของข้อมูล = <class 'int'>

In [187]:
numeric = int(input('กรุณากรอกข้อมูล (int)'))
print(numeric)
print(type(numeric))

5
<class 'int'>

In [188]:
numeric1 = 5.0
print('numeric1 =',numeric1)
print('ชนิดข้อมูล =', type(numeric1))

numeric1 = 5.0
ชนิดข้อมูล = <class 'float'>

In [189]:
numeric2 = -3.1
print('numeric2 =',numeric2)
print('ชนิดข้อมูล =', type(numeric2))

numeric2 = -3.1
ชนิดข้อมูล = <class 'float'>

In [190]:
numeric3 = 0.0
print('numeric3 =',numeric3)
print('ชนิดข้อมูล =', type(numeric3))

numeric3 = 0.0
ชนิดข้อมูล = <class 'float'>

In [193]:
numeric = float(input('กรุณากรอกข้อมูล (float)'))
print('numeri=',numeric)
print('ชนิดข้อมูล =', type(numeric))

numeri= -3.5
ชนิดข้อมูล = <class 'float'>

In [201]:
int1 = int(input('กรุณากรอกจำนวนเต็มตัวที่ 1'))
int2 = int(input('กรุณากรอกจำนวนเต็มตัวที่ 2'))
a = int1 + int2
b = int1 - int2
c = int1 * int2
d = int1 / int2

print()
print('ผลบวก = %s, ชนิดข้อมูล = %s' %(a, type(a)))
print('ผลลบ = %s, ชนิดข้อมูล = %s' %(b, type(b)))
print('ผลคูณ = %s, ชนิดข้อมูล = %s' %(c, type(c)))
print('ผลหาร = %s, ชนิดข้อมูล = %s' %(d, type(d)))

ผลบวก = 9, ชนิดข้อมูล = <class 'int'>
ผลลบ = 1, ชนิดข้อมูล = <class 'int'>
ผลคูณ = 20, ชนิดข้อมูล = <class 'int'>
ผลหาร = 1.25, ชนิดข้อมูล = <class 'float'>

In [203]:
float1 = float(input('กรุณากรอกจำนวนจริงตัวที่ 1'))
float2 = float(input('กรุณากรอกจำนวนจริงตัวที่ 2'))
a = float1 + float2
b = float1 - float2
c = float1 * float2
d = float1 / float2

print()
print('ผลบวก = %s, ชนิดข้อมูล = %s' %(a, type(a)))
print('ผลลบ = %s, ชนิดข้อมูล = %s' %(b, type(b)))
print('ผลคูณ = %s, ชนิดข้อมูล = %s' %(c, type(c)))
print('ผลหาร = %s, ชนิดข้อมูล = %s' %(d, type(d)))

ผลบวก = 10.0, ชนิดข้อมูล = <class 'float'>
ผลลบ = 4.0, ชนิดข้อมูล = <class 'float'>
ผลคูณ = 21.0, ชนิดข้อมูล = <class 'float'>
ผลหาร = 2.3333333333333335, ชนิดข้อมูล = <class 'float'>

In [205]:
#11

int1 = int(input('กรุณากรอกจำนวนเต็มตัวที่ 1'))
float1 = float(input('กรุณากรอกจำนวนจริงตัวที่ 1'))
a = int1 + float1
b = int1 - float1
c = int1 * float1
d = int1 / float1

print()
print('ผลบวก = %s, ชนิดข้อมูล = %s' %(a, type(a)))
print('ผลลบ = %s, ชนิดข้อมูล = %s' %(b, type(b)))
print('ผลคูณ = %s, ชนิดข้อมูล = %s' %(c, type(c)))
print('ผลหาร = %s, ชนิดข้อมูล = %s' %(d, type(d)))

ผลบวก = 6.2, ชนิดข้อมูล = <class 'float'>
ผลลบ = -0.20000000000000018, ชนิดข้อมูล = <class 'float'>
ผลคูณ = 9.600000000000001, ชนิดข้อมูล = <class 'float'>
ผลหาร = 0.9375, ชนิดข้อมูล = <class 'float'>

In [206]:
#12

logic1 = True
print('logic1 =', logic1)
print('ชนิดข้อมูล =', type(logic1))

logic1 = True
ชนิดข้อมูล = <class 'bool'>

In [207]:
#13

logic2 = False
print('logic2 =', logic2)
print('ชนิดข้อมูล =', type(logic2))

logic2 = False
ชนิดข้อมูล = <class 'bool'>